In [1]:
import pandas as pd

In [3]:
path = "cta_stations.csv"
df = pd.read_csv(path)
df.head()

,stop_id,direction_id,stop_name,station_name,station_descriptive_name,station_id,order,red,blue,green
0,30004,W,Harlem (Terminal arrival),Harlem/Lake,Harlem/Lake (Green Line),40020,0,False,False,True
1,30003,E,Harlem (63rd-bound),Harlem/Lake,Harlem/Lake (Green Line),40020,0,False,False,True
2,30263,E,Oak Park (63rd-bound),Oak Park,Oak Park (Green Line),41350,1,False,False,True
3,30264,W,Oak Park (Harlem-bound),Oak Park,Oak Park (Green Line),41350,1,False,False,True
4,30119,E,Ridgeland (63rd-bound),Ridgeland,Ridgeland (Green Line),40610,2,False,False,True

In [ ]:
if <condition>: <expression1> else: <expression2>

In [7]:
red = True
blue = False
green = False

In [13]:
if red: a = "red"; else: a = "blue"

SyntaxError: invalid syntax (<ipython-input-13-9a2fc32c2e43>, line 1)